ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
}

a {
  border-style: none;
  border: 0;
  color: #000;
  text-decoration: none;
}
a:hover {
  color: none;
  text-decoration: none;
}
h4 {
  font-size: 16px;
  font-weight: 700;
  float: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}
div {
  display: block;
  overflow: hidden;
}

html {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "museo-sans";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/MuseoSans_500.otf"); /* IE9 Compat Modes */
  src: local("Open Sans"), local("OpenSans"), url("./fonts/MuseoSans_500.otf");
}

body {
  font-size: 12px;
  font-family: museo-sans, sans-serif;
  font-style: normal;
  font-weight: 100;
}

.room {
  .featured {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 10px;
    img {
      border-radius: 10px;
    }
  }
  .room-detail {
    margin: 15px 0;
    display: block;
  }
}

.transition {
  transition: all 0.6s ease;
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.room-mates-ul {
  position: absolute;
  bottom: 10px;
  right: 10px;
  white-space: nowrap;
  width: 100%;
  height: 70px;
  li {
    border-radius: 90px;
    overflow: hidden;
    height: 60px;
    width: 60px;
    float: right;
    margin-left: -50px;
    cursor: pointer;
    border: 2px solid #ffffff;
  }
}
.bar {
  margin: 0 10px;
  height: 14px;
  display: inline-block;
  width: 1px;
  border: 1px solid rgba(155, 155, 155, 0.5);
}
.featured:hover .room-mates-ul li {
  margin-left: 0;
}
.featured:hover {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}
.area {
  position: relative;
}

.room-mates-cover {
  width: 100%;
  position: absolute;
  height: 100%;
  li {
    display: inline-block;
    border-radius: 90px;
    overflow: hidden;
    height: 60px;
    width: 60px;
    cursor: pointer;
    border: 1px solid #ffffff;
  }
}

.transport-type {
  margin: 0 10px;
  width: 10px;
  height: 10px;
  display: inline-block;
}

@media (max-width: 480px) {
}
